body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.about {
    display: flex;
    align-items: center;
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    left: -100px;
}

.about-content {
    margin-left: 100px;
}

.projects {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

.project {
    margin-bottom: 1.5rem;
}

.project a {
    color: #007acc;
    text-decoration: none;
}

.iframe-container {
    max-width: 100%;
    overflow: hidden;
    background-color: white;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-pic {
        position: static;
        margin-bottom: 1rem;
    }

    .about-content {
        margin-left: 0;
    }

    .iframe-container iframe {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem 0;
    }

    .about {
        padding: 1rem;
    }

    .projects {
        padding: 1rem;
    }

    footer {
        padding: 0.5rem 0;
    }
}
